apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: ${REGISTRY_HOST}:30500/${REDIS_BUILT_IMAGE}
        env:
        - name: TZ
          value: "Europe/Amsterdam"
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: redis-config
              key: REDIS_PORT
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
        envFrom:
        - configMapRef:
            name: redis-config
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pvc